

/*
table#informationtech {
  width: 100%;
  background-color: red;
}

table#business {
  width: 100%;
  background-color: purple;
}

table#computerscience {
  width: 100%;
  background-color: pink;
}

table#datascience{
  width: 100%;
  background-color: orange;
}

table#software{
  width: 100%;
  background-color: yellow;
}

table#other{
  width: 100%;
  background-color: white;
}*/
