.header {
  background-color: #0C0032;
  padding: 25px;
  text-align: center;
}
.navigation{
  background-color: #0C0032;
  padding: 20px;
  text-align: center;
}
.body{
    background-color: #0C0032;
}
