body {
  background-color: black;
}

h1 {
  color: lightblue;
  margin-left: 20px;
  text-align: center;
}

h2 {
  color: lightblue;
  margin-left: 20px;
  text-align: center;
}

h4 {
  color: lightblue;
  margin-left: 20px;
  text-align: center;
}

p{
  color: white;
  margin-left: 20px;
  text-align: center;
}

a{
  margin-left: 20px;
  text-align: center;
}
